/* General Code*/

.wcchecker-form > * {
    margin: 30px 0;
}

.wcchecker-alert {
    position: relative;
    padding: 20px 15px;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0px;
    font-size: 1rem;
}
.wcchecker-alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.wcchecker-alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.wcchecker-alert-warning {
	color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.wcchecker-clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.wcchecker-form {
}
.wcchecker-left {
    width: 80%;
    float: left;
}
.wcchecker-right {
    width: 20%;
    float: left;
}
.wcchecker-left input,
.wcchecker-right input {
    outline: none;
}
.wcchecker-left input[type="text"] {
    width: 100%;
    border: none;
    padding: 20px 15px;
    font-size: 1rem;
	border: 1px solid #eee;
    box-sizing: border-box;
    outline: none;
    border-radius: 0px;
    line-height: inherit;
}
.wcchecker-right input[type="submit"] {
    width: 100%;
    border: none;
    padding: 20px 15px;
    background-color: #000;
    color: #fff;
    font-size: 1rem;
	border: 1px solid #eee;
    box-sizing: border-box;
    outline: none;
    border-radius: 0px;
    line-height: inherit;
}

.wcchecker-end-time {float:right;}

/* Responsive */
	
@media screen and (min-width: 0px) and (max-width: 991px) {

	.wcchecker-left {
		width: 60%;
		float: left;
	}
	.wcchecker-right {
		width: 40%;
		float: left;
	}

}